
<footer>
    <div>

        <ul class="ulFoot">
            <li class="Tabfoot" ><a href="mailto:adresse@serveur.com"> <p> Contatez nous   <span class="glyphicon glyphicon-envelope"></span></p> </a></li>


        </ul>
        <ul class="ulFoot">
            <div class ="Footlieu">

                <li class="Tabfoot" ><a href="https://www.google.fr/maps/place/IUT+de+Metz,+Universit%C3%A9+de+Lorraine/@49.1202126,6.161611,17z/data=!3m1!4b1!4m5!3m4!1s0x4794dbffe3457bc1:0x6d664b5b6b5b44b8!8m2!3d49.1202126!4d6.1637997?hl=fr"><p>Ou nous trouver    <span class="glyphicon glyphicon-road"></span></p></a></li>
            </div>
        </ul>
        <ul class="ulFoot">

            <div class ="Footcree">
                <li class="Tabfoot">Crée par :  </li>
                <li class="Nomfoot">Rémy Thomas</li>
                <li class="Nomfoot">Thomas Pierre </li>

            </div>
        </ul>


    </div>
</footer>
