<header  style="position: relative">
    <nav class="navMenu">
        <div class="pull-right" style="position: absolute; right: 0">
            <ul class="menu" style="list-style-type: none">
                <li>
                    <a href="/cart" class="glyphicon glyphicon-shopping-cart"> ({{ app.cart|length }})</a>
                </li>
            </ul>
        </div>
        <ul class="menu">
            <li>
                <div class="hasSub">
                    <a href="/">Home</a>
                </div>
            </li>
            <li class="hasSub">
                <a href="#">Nos Menus</a>
                <ul class="submenu">
                    <li>
                        <div class="imgMenu">
                            <a href="/menuburger">
                                <img src="/images/021-burger-3.png">
                                <span class="spanMenu">Menu</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="imgMenu">
                            <a href="#">
                                <img src="/images/047-burger.png">
                                <span class="spanMenu">Burger</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="imgMenu">
                            <a href="#">
                                <img src="/images/030-frappe.png">
                                <span class="spanMenu">Dessert</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="imgMenu">
                            <a href="#">
                                <img src="/images/050-soda.png" class="imgMenu">
                                <span class="spanMenu">Boisson</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

            {% if app.user is not null %}
                <li class="hasSub">
                    <a href="/card">Ma carte</a>
                </li>
            {% endif %}

            <li class="hasSub">
                {% if app.user is not null %}
                    <a href="/logout">Déconnexion</a>
                {% else %}
                    <a href="/login">Connexion</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
<div class="sousMenu">
    Test
</div>
